h1 {
   text-align: center;
   font-family: 'Merriweather', serif;
   font-size: 6em;
   text-shadow: 7px 7px 7px red;
}
#start-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #959595;
  z-index: 9;
}
#submit-button{
  margin: 0 auto;
  display: block;
}
#container {
  overflow: auto;
  margin: 0 auto;
}
.wrapper {
  padding: 50px 25px 50px 25px;
  text-align: center;
  margin: auto;
  background: black;
}
.inactive{
  float: left;
  position: relative;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: red;
  overflow: hidden;
}
.active {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: none;
}
.clickable1 {
  display: block;
  background-color: yellow;
  cursor: pointer;
}
.hide {
  display: none;
}


