
body {
  background: gray;
}


h1 {
   text-align: center;
   font-family: 'Merriweather', serif;
   font-size: 6em;
   text-shadow: 7px 0px 20px red;
   background-color: yellow;
}

h2 {
  background-color: red;
}

h3 {
  text-align: center;
  color: white;

}


#start-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 9;
}

#submit-button {
  margin: 100px auto;
  display: block;
  background-color: red;
  width: 15%;
  font-size: 15px;
}
#container {
  overflow: auto;
  position: absolute;
  width: 550px;
  margin: 28%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.wrapper {
  padding: 50px 25px 50px 25px;
  text-align: center;
  margin: 50px auto;
  background: black;
}

.inactive {
  float: left;
  position: relative;
  border: 4px solid black;
  height: 100px;
  width: 100px;
  border-radius: 40px;
  background-color: #ff0101;
  overflow: hidden;
  box-shadow: 2px 9px 30px;

}
.active {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: none;
}
.clickable1 {
  display: block;
  background-color: yellow;
  cursor: pointer;
}
.hide {
  display: none;
  color: #232323;
}

#player-score:before{ content:"Player Score:    ";}

#player-score {
  color: 222222;
  font-size: 35px;
  display: block;
  background-color: white;
  text-align: left;
  padding: 30px;

}

#timer:before{content:"Timer:  ";}

#timer {
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;

}

#restart {
  font-size: 1em;
  color: red;
  background: black;
  width: 90px;

}
